* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --black: #000;
  --Red-orange-ish: #e95b42;
  --white-100: #f5f6ef;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: radial-gradient(
      70.27% 63.39% at 74.31% 1.59%,
      rgba(153, 60, 60, 0.16) 35.58%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      75.7% 30.28% at 87.08% 58.59%,
      rgba(153, 60, 60, 0.12) 35.58%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      66.91% 73.09% at 18.13% 34.23%,
      rgba(153, 60, 60, 0.19) 19.71%,
      rgba(0, 0, 0, 0) 100%
    ),
    var(--black);

  color: white;
}

/* --------- Header ---------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  padding: 24px;
  position: fixed;
  width: 100%;
  top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

header img {
  padding-top: 76px;
}

header nav {
  display: flex;
}

/* ---------- footer ---------- */

footer {
  display: flex;
  padding: 40px 142px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  background: var(--Red-orange-ish);
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

footer img {
  mix-blend-mode: lighten;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

footer nav a {
  border-right: 1px solid var(--white-100);
  padding: 4px 12px;
}

footer nav a:last-child {
  border-right: none;
}

/* ---------------- homepage ---------------- */

/* --------- Hero -------- */
.carousel-hero {
}

.hero {
  height: 800px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lachryma {
  background-image: url("../images/hero-ghost.webp");
}

.molly {
  background-image: url("../images/hero-ecca.webp");
}

/* --------- Artist carousel -------- */

.section-artist {
  padding: 128px 0;
}

.carousel-artist {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  padding: 0px 50%;
}

.artist img {
  width: 448px;
  height: 448px;
  object-fit: cover;
}

.artist {
  display: flex;
  gap: 24px;
  scroll-snap-align: center;
}

.artist-info {
  width: 566px;
  gap: 6px;
}
