/* ---------------------- fonts ---------------------- */
@font-face {
  font-family: Thunder;
  src: url("../font/Thunder/Thunder-BoldLC.otf");
}

@font-face {
  font-family: "Futura Std Book";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Book"),
    url("../font/Futura-std-4-webfont/FuturaStdBook.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Book Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Book Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdBookOblique.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Light Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Light Condensed"),
    url("../font/Futura-std-4-webfont/FuturaStdCondensedLight.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Light"),
    url("../font/Futura-std-4-webfont/FuturaStdLight.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Light Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Light Condensed Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdCondensedLightObl.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Light Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Light Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdLightOblique.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Medium Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Medium Condensed"),
    url("../font/Futura-std-4-webfont/FuturaStdCondensed.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Medium"),
    url("../font/Futura-std-4-webfont/FuturaStdMedium.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Medium Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Medium Condensed Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdCondensedOblique.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Medium Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Medium Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdMediumOblique.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Heavy"),
    url("../font/Futura-std-4-webfont/FuturaStdHeavy.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Heavy Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Heavy Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdHeavyOblique.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Bold"),
    url("../font/Futura-std-4-webfont/FuturaStdBold.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Bold Condensed"),
    url("../font/Futura-std-4-webfont/FuturaStdCondensedBold.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Bold Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Bold Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdBoldOblique.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Bold Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Bold Condensed Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdCondensedBoldObl.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Extra Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Extra Bold Condensed"),
    url("../font/Futura-std-4-webfont/FuturaStdCondensedExtraBd.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Extra Bold"),
    url("../font/Futura-std-4-webfont/FuturaStdExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Extra Bold Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Extra Bold Condensed Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdCondExtraBoldObl.woff")
      format("woff");
}

@font-face {
  font-family: "Futura Std Extra Bold Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Extra Bold Oblique"),
    url("../font/Futura-std-4-webfont/FuturaStdExtraBoldOblique.woff")
      format("woff");
}

/* ---------------------- styling ---------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --black: #000;
  --Red-orange-ish: #e95b42;
  --white-100: #f5f6ef;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: radial-gradient(
      70.27% 63.39% at 74.31% 1.59%,
      rgba(153, 60, 60, 0.16) 35.58%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      75.7% 30.28% at 87.08% 58.59%,
      rgba(153, 60, 60, 0.12) 35.58%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      66.91% 73.09% at 18.13% 34.23%,
      rgba(153, 60, 60, 0.19) 19.71%,
      rgba(0, 0, 0, 0) 100%
    ),
    var(--black);

  color: white;
  font-family: "Futura Std", sans-serif;
}

/* --------- Header ---------- */

header {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  padding: 24px;
  position: fixed;
  width: 100%;
  top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

header img {
  padding-top: 76px;
}

header nav {
  display: flex;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.icon-label {
  font-family: "Font Awesome 7 Brands";
}

.icon-classic {
  font-family: "Font Awesome 7 Free";
}

/* ---------- footer ---------- */

footer {
  display: flex;
  padding: 40px 142px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  background: var(--Red-orange-ish);
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

footer img {
  mix-blend-mode: lighten;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

footer nav a {
  border-right: 1px solid var(--white-100);
  padding: 4px 12px;
}

footer nav a:last-child {
  border-right: none;
}

/* --------- Chevron --------- */

.chevrons {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 99vw;
  padding: 0px 24px;
}

.marker {
  font-family: "chantal", sans-serif;
  color: var(--Red-orange-ish);
  font-size: 40px;
}

/* --------- button --------- */

.button-link,
.button-social {
  height: 46px;
  max-height: 46px;
  min-width: min-content;
  padding: 8px;

  text-decoration: none;

  border: 1px solid var(--white-100);
}

.button-link:hover,
.button-social:hover {
  color: var(--black);
  background-color: var(--white-100);
}

.button-link {
  font-family: Thunder;
  font-size: 40px;
  text-transform: uppercase;
}

.button-social {
  text-transform: none;
  font-family: "Font Awesome 7 Brands", sans-serif;
  font-size: 24px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

/* ---------------- homepage ---------------- */

/* --------- Hero --------- */

.section-hero {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><circle cx="12" cy="12" r="9" fill="%23000000" stroke="%23000" stroke-width="0.25"></circle></svg>'),
    pointer;
}

.carousel-hero {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 800px;
  overflow-x: hidden;
}

.section-hero .chevrons {
  top: 400px;
  mix-blend-mode: differences;
}

.hero {
  height: 800px;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scroll-snap-align: center;
  padding: 40px 140px;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.hero-title {
  font-family: Thunder;
  font-size: 128px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;

  text-align: right;
}

.lachryma {
  background-image: url("../images/hero-ghost.webp");
}

.molly {
  background-image: url("../images/hero-ecca.webp");
}

/* --------- Artist carousel --------- */

.section-artist {
  padding: 128px 0;
}

.section-artist .marker {
  position: absolute;
  text-align: center;
  left: 60px;
  transform: rotate(-10deg);
}

.section-artist .chevrons {
  /* à réajuster */
  top: 1144px;
  mix-blend-mode: differences;
}

.carousel-artist {
  height: 448px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  overflow-y: hidden;

  padding: 0px 50%;
}

.artist img {
  width: 448px;
  height: 448px;
  object-fit: cover;
}

.artist {
  display: flex;
  height: 448px;
  gap: 24px;
  scroll-snap-align: center;
}

.artist-info {
  width: 566px;
  gap: 6px;
  height: 448px;
}

.artist-info h1 {
  font-family: "Thunder", sans-serif;
  font-size: 150px;
  text-transform: uppercase;
  color: var(--Red-orange-ish);
}

.artist-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-right: 40px;
}

.artist-links div {
  display: flex;
  gap: 6px;
}

/* --------- Bodega! --------- */

.bodega {
  padding: 48px 70px;
  gap: 48px;
}

.bodega .marker {
  transform: rotate(5deg);
  padding: 15px;
}

.bodega h1 {
  font-family: "Thunder", sans-serif;
  font-size: 128px;
  text-transform: uppercase;
}

.bodega-header {
  text-align: center;
}

.bodega-articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 40px;
}

.bodega-articles a {
  text-decoration: none;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article-text {
  max-width: 300px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-text h2 {
  text-transform: uppercase;
  font-family: "Thunder", sans-serif;
  font-size: 40px;
}

.author {
  color: var(--Red-orange-ish);
}

/* --------- newsletter --------- */

.newsletter {
  padding: 200px 260px;
  text-align: center;
  gap: 88px;
}

.newsletter .marker {
  padding: 20px;
  transform: rotate(-2deg);
}

.newsletter h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-family: "Thunder", sans-serif;
}

form {
  padding: 40px;
  display: flex;
  gap: -1px;
  justify-content: center;
}

input {
  height: 50px;
  padding: 4px 24px;
  border: 1px solid var(--white-100, #f5f6ef);
  background-color: var(--black);
  color: var(--white-100);
}

.email {
  width: 400px;
}

.submit {
  font-family: "Thunder", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.submit:hover {
  background-color: var(--white-100);
  color: var(--black);
}
